body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
}

.form-group {

	position:absolute;
	right:0ex;

	form  {
		display: grid;
		border:1px solid silver;
		background-color:#eee9;
		border-radius: 1ex;
		padding:1ex;
		margin: 1ex;
	}

}


hr { width:100%;  } /* border:1px dotted silver inset; */



/* Star styles
*/

svg.star {
	width: 100vw;
	height: 99vh;

	path {
		stroke: blue;
		stroke-width: 1;
		fill: #00f4;  /* none;  */

		mix-blend-mode:saturation;

		/* stroke-dasharray: 2 7;  */
		/* stroke-linecap: round; */
		/* stroke-linejoin: bevel; */
	}

	g.show-markers path {
		marker-start:url(#markerStart);
		marker-end:url(#markerEnd);
		marker-mid:url(#wedge);
	}


	path:nth-of-type(2),
	path:nth-last-of-type(2)
	{
		stroke: #0f0;
		fill: #0f04;
	}
	path:nth-of-type(3),
	path:nth-last-of-type(3)
	{
		stroke: #f00;
		fill: #f004;
	}
	path:nth-of-type(4),
	path:nth-last-of-type(4)
	{
		stroke: #ff0;
		fill: #ff04;
	}


	.evenodd path {
		fill-rule: evenodd; /* fill-rule: evenodd, nonzero  */
	}


	/* grid & markers */
	.origin { fill:transparent ; stroke:black }
	marker {
		stroke-width: 5;

		.marker-start  { fill:lightgreen ; stroke:green }
		.marker-end    { fill:pink ; stroke:red }
		.marker-mid    { fill:yellow ; stroke:orange }
	}

}/* svg.star */




