body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
}

.form-group {

	position:absolute;
	right:0ex;

	form  {
		display: grid;
		border:1px solid silver;
		background-color:#eee9;
		border-radius: 1ex;
		padding:1ex;
		margin: 1ex;
	}

}


hr { width:100%;  } /* border:1px dotted silver inset; */



/* Star styles */

svg.star {
	width: 100vw;
	height: 100vh;

	path {
		stroke: blue;
		stroke-width: 1;
		fill: #00f7;  /* none;  */
		/* fill-rule: evenodd;  evenodd, nonzero  */
		/*  stroke-dasharray: 2 7;  */
		stroke-linecap: round;
		stroke-linejoin: bevel;
		marker-start:url(#markerStart);
		marker-end:url(#markerEnd);
	}


	.evenodd path {
		fill-rule: evenodd;
	}


	.origin { fill:transparent ; stroke:black }
	marker { stroke-width:.5; }
	.marker-start  { fill:lightgreen ; stroke:green }
	.marker-end    { fill:pink ; stroke:red }


}




