body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
}

.form-group {

	position:absolute;
	right:0ex;

	form  {
		display: grid;
		border:1px solid silver;
		background-color:#eee9;
		border-radius: 1ex;
		padding:1ex;
		margin: 1ex;
	}

	label:after { content:':'; }

	label.noafter:after { content:''; }

}




svg.drawing {
	width: 100vw;
	height: 99vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}
}